[role="breadcrumbs"] {
	ul {
		@extend %clearfix;

		li {
			float: left;
			a {
				display: inline-block;
				width: auto;
			}
			+ li:before {
				content: $breadcrumb-separator;
				margin: 0 .25em;
			}
			
			&:last-of-type > a {
				pointer-events: none;
	   		cursor: default;
			}
		}
	}
}