div + form, section + form, form + form, p + form {
	margin-top: $margin;
}

form {
	label {
		display: block;
		height: $input-height;
		line-height: $input-height;

		> span:first-child {
			@if $input-height > 0 {
				line-height: $input-height;
				height: $input-height;
			}
			text-align: right;
			padding-right: .5em;
			display: inline-block;
			min-width: $inline-label-width;
		}
	}

	> fieldset + fieldset {
		margin-top: $margin-form;
	}

	input + label {
		margin-left: $margin-form;
	}

	input[type="text"] {
		@if $input-height > 0 {
			height: $input-height;
		}
		border: none;
		background-color: none;
		border: solid thin lightgray;
		padding: 0 .5em;
	}

	fieldset {
		position: relative;
		border: none;
		margin: 0;
		padding: 0;

		legend {
			width: 100%;
			display: block;
			margin: 0;
			padding: 0;
		}

		&:required {
			> label:before {
				content: "*";
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		
		&:disabled {
			@extend %disable;
		}
	}
}