// Force box-sizing border-box
* {
	box-sizing: border-box !important;
}

// Reset Font Size to 14px (12pt)
html, body {
	font-size: 87.5%;
	margin: 0;
	padding: 0;
}

// Font resets
html {
	font-family: "Helvectica", "Arial", sans-serif;
	height: 100%;
}

// Text Styles Reset
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
		font-size: 1rem;
		font-weight: normal;
    margin: 0;
    padding: 0;
}

// Image display
img {
	max-width: 100%;
	display: block;
}

// No outline
* {
	&:focus {
		outline: none;
	}
}

// fieldset 

fieldset {
	border: none;
	padding: 0;
	margin: 0;
	display: block;

	legend {
		padding: 0;
		margin: 0;
		display: block;
	}
}

// Navigation reset
nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}