// Section behaviors
section {
	overflow: auto;
	position: relative;
	border: solid thin lightgray;

	// If padding is applied to section, absolutely position header
	@if $section-pad > 0 {
		padding: $section-pad;

		> header {
			padding: 0 $section-pad;
			left: 0;
			top: 0;
			position: absolute;
			width: 100%;

			+ * {
				margin-top: $section-header-height;
			}
		}
	}
	
	// Apply section-header styles if heading height is set
	@if $section-header-height > 0 {
		> header {
			height: $section-header-height;
			line-height: $section-header-height;
			width: 100%;
		}
	}

	+ div {
		margin-top: $margin;
	}

	+ section {
		margin-top: $section-margin;
	}

	> footer {
		margin-top: $margin;
	}
}