[role="splash"] {
	overflow: hidden;
	height: $splash-height;
	text-align: center;
	padding: 0;

	> img {
		display: inline;
		max-width: initial;
		height: 100%;
	}

	> img + [role="content"] {
		@extend %overlay;

		width: 100%;
		height: 100%;
		// line-height: $splash-height;
		vertical-align: middle;
		top: 0;
		left: 0;
		position: absolute;
		text-align: center;
		display: table-cell;
		h1 {
			display: inline-block;
		}
	}
}