[role="steps"] {
	ol {
		margin-left: 0;
		padding-left: 0;
		counter-reset: slideNum;
		li {
			padding-left: 0;
			counter-increment: slideNum;
			display: inline-block;
			&:before {
				@if $badge > 0 {
					@extend %badge;
				}
				content: counter(slideNum);
				display: inline-block;
				text-align: center;
				margin-right: .25em;
			}
			+ li {
				margin-left: .5em;
			}
		}
	}
	+ * {
		margin-top: $margin;
	}
}