@import 'functions/set';
@import 'functions/get';
@import 'functions/extend';

@mixin _flx {
  @include set(flex) {
    display: flex;

    > * {
      margin-top: 0;
    }
  }

  @at-root .flx {
    @include get(flex);

    &- {
      &-wrap {
        @include get(flex);
        flex-wrap: wrap;
      }

      &-column {
        @include get(flex);
        flex-direction: column;
      }
    }
  }
}
