.container {
	margin: 0 auto;
	max-width: $site-max-width;
	&-pad {
		padding: 0 $grid-gutter;
	}
}

.grid {
	@include grid-generator($grid);
}

@each $breakpoint, $size in $textscale {
	@include media-query($breakpoint) {
		html {
			font-size: #{$size};
		}
	}
}
