// Fill
.fill- {
  &-h {
    width: 100%;
  }

  &-v {
    height: 100%;
  }
}

// Scroll
.scroll- {
  &-h {
    overflow-x: auto;
  }

  &-v {
    overflow-y: auto;
  }
}

// Containers
.container- {
  &-h {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-v {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

// Is Hidden
.is-hidden:not(.is-open) {
  @extend %hide;
}

// Collapse
.collapse + *,
script + * ,
.is-hidden:not(.is-open) + * {
  margin-top: 0;
}

.collapse- {
  &-half + * {
    margin-top: .5rem
  }

  &-quarter + * {
    margin-top: .25rem
  }
}

// Paragraph Alignment
.paragraph- {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

// Floats
.float- {
  &-left {
    float: left;
  }

  &-none {
    float: none;
  }

  &-right {
    float: right;
  }
}
