.unstyle {
  @at-root ul#{&},
  ol#{&} {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  @at-root a#{&} {
    text-decoration: none;
    color: inherit;
  }
}
