@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css');

html,
body {
  font-family: 'Helvetica', Arial, sans-serif;
}

.header {

}

.nav {
  max-height: 100vh;
  overflow-y: auto;
}

.main {
  max-width: 720px;
  margin: 0 auto;
}

.codeBlock {
  background: #f0f0f0;
  font-family: "monospace";
}

