@function str-to-list($string, $separator: ' ', $startAt: 1) {
  $workStr: str-slice($string,$startAt);
  $list: ();
  $indexOfFirstSpace: str-index($workStr,$separator);

  @if $indexOfFirstSpace == null {
    $list: ($workStr);
  } @else {
    $list: (str-slice($workStr, 1, $indexOfFirstSpace - 1));
    $list: join($list,str-to-list($workStr, $startAt: $indexOfFirstSpace + 1));
  }
  @return $list;
}

$classes: () ;

@mixin nst($name) {
  $parents: ();

  @each $item in str-to-list(#{&}) {
    @if (index($parents, $item) == null) {
      $parents:  append($parents, $item)
    }
  }

  $new: #{nth($parents, length($parents))}-#{$name};

  @if (index($classes, $new) == null) {
    $classes: append($classes, $new) ;
      @at-root #{$parents} #{$new} {
        @content;
      }
    } @else {
    @error "Sorry, but `#{$new}` is already a class";
  }
}
