<extends src='views/layout.html'>
  <block name='content'>
    <div class="main flx--default gtr--xl">
      <div class="main-menu fll--viewport-h @base--1-3 @phone--1-1 origin">
        <div class="fll--parent origin">
          <h1 class="main-menu-heading typ--i+2 @base--1-3 @phone--2-3 abs--center-left">Thin, the anti-framework framework</h1>
        </div>

        <ul id="menu" class="main-menu-list rst--list fxd--center-right mrgn--all-md">
          <li class="row--lg"><h1 class="typ--i+2 rst--heading"><a href="#/" class="rst--link">thin</a></h1></li>
          <each loop="nav in dato.allNavs">
            <li class="row--lg js-link" data-id="#{{nav.sectionId}}">
              <h4>
                <a href="#{{nav.sectionId}}" class="row--collapse rst--link typ--i+1">
                  {{nav.name}} <br>
                  <strong class="typ--i"><small>{{nav.description}}</small></strong>
                </a>
              </h4>
            </li>
          </each>
        </ul>
        <a href="#menu" class="main-menu-open typ--center rst--link fxd--bottom-right ofst--bottom-md ofst--right-md js-menu">
          <i data-feather="menu"></i>
          <br>
          <small>MENU</small>
        </a>
        <a href="#/" class="main-menu-close typ--center rst--link fxd--bottom-right ofst--bottom-md ofst--right-md js-menu">
          <i data-feather="x"></i>
          <br>
          <small>CLOSE</small>
        </a>
      </div>
      <div class="main-content @base--2-3 @phone--1-1">
        <each loop="group, key in dato">
          <if condition="key !== 'allNavs'">
            <section id="{{key}}" class="section">
              <ul class="rst--list">
                <each loop="item in group">
                  <li class="flx--wrap gtr--xl typ--iv row--lg">
                    <div class="@phone--1-1 @base--1-2">
                      <span>.{{item.className}}</span>
                      <p class="typ--i">{{item.description}}</p>
                    </div>
                    <div class="@phone--1-1 @base--1-2">
                      <if condition="item.thumbnail">
                        <img class="classImage js-image" src="{{item.thumbnail.url}}" alt="">
                      </if>
                      <if condition="item.sampleText">
                        <p class="sampleText {{item.className}}">{{item.sampleText}}</p>
                      </if>
                    </div>
                  </li>
                </each>
              </ul>
            </section>
          </if>
        </each>
        <section id="home" class="home fll--viewport-h">
          <div class="fll--parent origin">
            <h1 class="typ--i abs--center-center">Thin, the anti-framework framework</h1>
          </div>
        </section>
      </div>
    </div>
  </block>
</extends>