<!DOCTYPE html>
<html class="rst--base">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='author' content='adrianjonmiller'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <block name='title'>
      <title>Thin.Style</title>
    </block>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link rel='stylesheet' href='cdn/thin.css'>
  </head>

  <body>
    <main>
      <block name='content'></block>
    </main>

    <block name='javascript'>
      <script src='/main.bundle.js' defer></script>
    </block>
  </body>
</html>