@mixin typography($font-size: 11pt, $headings: (small, default, h6, h5, h4, h3, h2, h1)){
  $b: 0;
  $rem: round($unit * $font-size);

  @if(index($headings, default) != null) {
    $b: index($headings, default);
  }

  html {
    font-size: #{$rem};

    body {
      font-size: $font-size;
      line-height: 1rem;
    }
  }

  @each $h in $headings {
    $i: index($headings, $h);


    @if($i > $b) {
      $j: $i - $b;
      $l: strip-unit($rem);

      @while $l < strip-unit($font-size * pow($unit, $j)) {
        $l: $l + strip-unit($rem);
      }

      #{$h} {
        font-size: round($font-size * pow($unit, $j));
        line-height: $l/strip-unit($rem) * 1rem;
      }
    }

    @if($i < $b) {
      $j: $b - $i;

      #{$h} {
        font-size: round($font-size/pow($unit, $j));
        line-height: $rem;
      }
    }
  }
}
