body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif; }

button {
  padding: .75em 2em; }

code {
  display: block; }

.main {
  min-height: 100vh;
  min-width: 100vw; }

.home {
  max-width: 58rem;
  width: 100vw; }
  .home-text {
    border-left: solid thin gray;
    padding-left: 4rem;
    margin-left: 4rem; }
    .home-text-heading {
      font-weight: 100; }
    .home-text-success {
      transform: translate(-50%, 2rem); }

.code {
  border-radius: .25rem;
  padding: 1rem;
  background-color: #eee;
  border: solid thin #ddd; }

.button--outline {
  box-shadow: 0 0 1px #aaa;
  color: #555;
  transition: background-color .25s ease;
  display: inline-block;
  text-decoration: none; }
  .button--outline:hover {
    background-color: #eee; }
