.gutter- {
  @each $name, $size in $sizes {
    @if($name != default) {
      &-#{$name} {
        margin-left: -#{$size};

        > * {
          padding-left: #{$size};
        }

        &-rows  {
          @extend .gutter--#{$name};
          > * {
            margin-bottom: #{$size};
          }
        }
      }
    } @else {
      @at-root .gutter {
        margin-left: -#{$size};

        > * {
          padding-left: #{$size};
        }

        &--rows {
          @extend .gutter;

          > * {
            margin-bottom: #{$size};
          }
        }
      }
    }
  }
}
