.popover {
  @extend .is-hidden;
  background: rgba(black, 0.6);
  box-shadow: 0 0 0 9999rem rgba(black, 0.6);
  color: white;
  left: 50%;
  margin-top: 0;
  max-width: 30rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: z($indexes, popovers);
}
