.flt {
  &- {
    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

    &-clear {
      &:after {
        content: '';
        clear: both;
        display: table;
      }
    }
  }
}