.flx {
  display: flex;
  &- {
    &-reverse {
      @extend .flx;
      flex-direction: row-reverse;
    }
    
    &-column {
      @extend .flx;
      flex-direction: column;
    }
  
    &-column-reverse {
      @extend .flx;
      flex-direction: column-reverse;
    }
  
    &-wrap {
      @extend .flx;
      flex-wrap: wrap;
    }
  }

  &-fill {
    flex: 1;
  }

  &-end {
    margin-left: auto;
  }

  &-center {
    margin-left: auto;
    margin-right: auto;
  }
}