@use 'lib/vars' as *;

$columns: 6;
$widths: ();

@for $i from 1 through $columns {
  @for $j from 1 through $i {
    $per: percentage($j/$i);
    $list: map-values($widths);
    @if index($list, $per) == null {
      $widths: map-merge($widths, ( #{$j}-#{$i}: $per));
    }
  }
}

@each $device, $query in $media-queries {
  .\@#{$device}--hide {
    @media #{$query} {
      display: none;
    }
  }
  
  @each $name, $value in $widths {
    .\@#{$device}--#{$name} {
      @media #{$query} {
        width: $value;
      }
    }
  }
  
  .gtr- {
    @each $key, $size in $sizes {
      &-#{$key} {
        margin-left: -#{$size};

        @each $name, $value in $widths {
          > .\@#{$device}--#{$name} {
            @media #{$query} {
              width: calc(#{$value} - #{$size});
            }
          }
        }
      }
    }
  }
}