@use 'lib/vars' as *;

.gtr- {
  @each $key, $size in $sizes {
    &-#{$key} {
      margin-left: -#{$size};

      > * {
        padding-left: $size;
      }
    }
  }

  &-collapse + * {
    padding-left: 0;
  }
}