@use 'lib/vars' as *;

.padding {
  &- {
    &-all {
      @each $name, $size in $sizes {
        &-#{$name} {
          padding: $size;
        }
      }
    }
    
    &-vertical {
      @each $name, $size in $sizes {
        &-#{$name} {
          padding-left: $size;
          padding-right: $size;
        }
      }
    }

    &-horizontal {
      @each $name, $size in $sizes {
        &-#{$name} {
          padding-top: $size;
          padding-bottom: $size;
        }
      }
    }

    &-top {
      @each $name, $size in $sizes {
        &-#{$name} {
          padding-top: $size;
        }
      }
    }

    &-bottom {
      @each $name, $size in $sizes {
        &-#{$name} {
          padding-bottom: $size;
        }
      }
    }

    &-left {
      @each $name, $size in $sizes {
        &-#{$name} {
          padding-left: $size;
        }
      }
    }

    &-right {
      @each $name, $size in $sizes {
        &-#{$name} {
          padding-right: $size;
        }
      }
    }
  }
}