.align-{
  position: absolute;

  &-center {
    @extend .align-;
    left: 50%;
    transform: translateX(-50%);

    &-bottom {
      @extend .align--right;
      bottom: 0;
    }

    &-center {
      @extend .align--right;
      top: 50%;
      transform: translateY(-50%);
    }

    &-top {
      @extend .align--right;
      top: 0;
    }
  }

  &-left {
    @extend .align-;
    left: 0;

    &-bottom {
      @extend .align--left;
      bottom: 0;
    }

    &-center {
      @extend .align--left;
      top: 50%;
      transform: translateY(-50%);
    }

    &-top {
      @extend .align--left;
      top: 0;
    }
  }

  &-right {
    @extend .align-;
    right: 0;

    &-bottom {
      @extend .align--right;
      bottom: 0;
    }

    &-center {
      @extend .align--right;
      top: 50%;
      transform: translateY(-50%);
    }

    &-top {
      @extend .align--right;
      top: 0;
    }
  }
}
