@import 'functions/set';
@import 'functions/get';
@import 'functions/extend';


@mixin _abs {
  @include set(abs) {
    position: absolute;
  }
  
  .origin {
    position: relative;
  }

  .abs {
    @include get(abs);

    &- {
      @include extend(abs, abs--bottom) {
        bottom: 0;
      }

      &-bottom {
        @include get(abs--bottom);

        &-center {
          @include get(abs--bottom);
          left: 50%;
          transform: translateX(-50%);
        }

        &-left {
          @include get(abs--bottom);
          left: 0;
        }

        &-right {
          @include get(abs--bottom);
          right: 0;
        }
      }

      @include extend(abs, abs--center) {
        top: 50%;
        transform: translateY(-50%);
      }

      &-center {
        @include get(abs--center);

        &-center {
          @include get(abs--center);
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &-left {
          @include get(abs--center);
          left: 0;
        }

        &-right {
          @include get(abs--center);
          right: 0;
        }
      }

      @include extend(abs, abs--top) {
        top: 0;
      }

      &-top {
        @include get(abs--top);

        &-center {
          @include get(abs--top);
          left: 50%;
          transform: translate(-50%);
        }

        &-left {
          @include get(abs--top);
          left: 0;
        }

        &-right {
          @include get(abs--top);
          right: 0;
        }
      }
    }
  }
}
