
@import 'functions/set';
@import 'functions/get';

@mixin _add {
    .add {
        &- {
            &-scrollbar {
                scrollbar-width: auto; /* Firefox */
                -ms-overflow-style: auto;  /* IE 10 */
        
                ::-webkit-scrollbar {
                    width: auto;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    -webkit-box-shadow: auto; 
                    -webkit-border-radius: auto;
                    border-radius: auto;
                    background:auto;    
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    -webkit-border-radius:auto;
                    border-radius:auto;
                    background:auto; 
                    -webkit-box-shadow:auto; 
                }
                ::-webkit-scrollbar-thumb:window-inactive {
                    background: auto; 
                }
            }
        }
    }
}
