@mixin _rst {
  @include set('rst') {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    min-width: 0;
  }

  * {
    box-sizing: border-box;
  }

  :root {
    font-size: 87.5%;
  }

  html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @include get('rst');
  }

  body,
  p,
  legend,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include get('rst');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1em;
  }

  .rst {
    &- {
      // Reset lists
      &-list {
        @include get('rst');
        list-style: none;
      }

      // Reset links
      &-link {
        color: inherit;
        text-decoration: none;
      }

      &-legend {
        display: table;
        float: left;
      }

      // Reset Fieldsets
      &-fieldset {
        @include get('rst');

        @at-root body:not(:-moz-handler-blocked) fieldset.rst--fieldset {
          display: table-cell;
        }
      }

      &-button {
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;
        background: transparent;
        color: inherit;
        font: inherit;
        line-height: normal;
        text-align: inherit;
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
        -webkit-appearance: none;


        &::-moz-focus-inner {
          border: 0;
          padding: 0;
        }
      }

      &-input {
        &[type=date],
        &[type=datetime],
        &[type=datetime-local],
        &[type=email],
        &[type=month],
        &[type=number],
        &[type=password],
        &[type=range],
        &[type=search],
        &[type=tel],
        &[type=text],
        &[type=time],
        &[type=url],
        &[type=week] {
          @include get('rst');

          &:focus {
            outline:0;
          }
        }

        &input[type=search] {
          -webkit-appearance: textfield;
          appearance: textfield;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;

          &::-webkit-search-decoration {
            display:none;
          }
        }
      }
    }
  }
}
