@import 'functions/type-scale';

@mixin _typ ($base: 1rem, $r: 2, $n: 5, $o: 3) {
  $notes: (
    ( roman: 'i',
      arabic: 'a'
    ),(
      roman: 'ii',
      arabic: 'b',
    ),(
      roman: 'iii',
      arabic: c
    ),(
      roman: 'iv',
      arabic: 'd'
    ),(
      roman: 'v',
      arabic: 'e',
    ),(
      roman: 'vi',
      arabic: 'f'
    ),(
      roman: 'vii',
      arabic: 'g'
    )
  );

  @for $octave from -$o through $o {
    @for $note from 1 through $n {
      $i: nth($notes, $note);
      $octaveRoman: '';
      $octaveArabic: $octave;


      @if ($octave > 0) {
        $octaveRoman: \+#{$octave}
      }

      @if ($octave < 0) {
        $octaveRoman: $octave;
      }

      @if ($octave == 0) {
        $octaveArabic: '';
      } 

      .typ--#{map-get($i, 'roman')}#{$octaveRoman},
      .typ--#{map-get($i, 'arabic')}#{$octaveArabic} {
        font-size: scaleType($base, (($octave) * $n + $note - 1), $r, $n);
      }
    }
  }

  .typ--center {
    text-align: center
  }

  .typ--left {
    text-align: left
  }

  .typ--right {
    text-align: right
  }
}