body {
  font-family: 'Lato', 'Helvetica', 'sans-serif';
  font-weight: 300;
}

.section {
  transform: translate(25rem, -50%);
  max-height: 100vh;
  overflow: auto;
  padding: 3rem;
  padding-left: 5rem;
  border-left: solid thin #ddd;
  min-height: 45rem;

  &:not(:target) {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

.nav {
  transform: translate(10rem, -50%);
  width: 15rem;
}

.className {
  width: 20rem;
}

.classDescription {
  width: 40rem;
}

.link {
  display: block;
  border-bottom: solid thin transparent;
  line-height: .9em;
  margin-bottom: -1px;
  color: #555;
}

$sections: 'abs', 'fll', 'flt', 'flx', 'fxd', 'grd', 'gtr', 'hlp', 'rst', 'rws', 'typ';

.main {
  padding: 3rem;
  border: solid thin #ddd;
}

.section:target ~ .main {
  display: none;
}

@each $section in $sections {
  ##{$section}:target ~ nav .link[href="##{$section}"] {
    border-bottom-color: #ddd;
  }
}
