// Reset Font Size to 14px (12pt)
html, body {
	font-size: 87.5%;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

// Use box-sizing for the grid
* {
	box-sizing: border-box;
}

// Reset headings to global font-size
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

// Unstyle all lists inside a 
nav ul, .unstyled, [role="nav"], [role="navigation"] {
 	list-style: none;
	margin: 0;
	padding: 0;
	display: block;

	li {
		list-style: none;
		margin-left: 0;

		> a + * {
			display: none;
		}

		&:hover > * + * {
			display: block;
			z-index: 1000;
		}
	}
}

// Remove link styles from navigation links
nav a {
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

// Image resets
img {
	display: block;
	width: 100%;
}

// Footer position

body {
	position: relative;
	min-height: 100%;
	padding-bottom: $global-footer-height;
}

[role="main"] {
	margin-bottom: $margin;
}

body > footer {
	bottom: 0;
	height: $global-footer-height;
	left: 0;
	position: absolute;
	width: 100%;
}