$unit: 1.4em !default;

$pad: $unit !default;
$gutter: $unit !default;

$margin: $unit !default;
$margin-section: $unit !default;

$global-footer-height: $unit !default;
$module-header-height: $unit !default;

$max-width: 1024px !default;