/* line 3, /Users/adrianmiller/Development/thin/sass/utilities/_extends.scss */
.is-hidden:not(.is-open), .popover:not(.is-open), .segue:not(.is-open) {
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  text-overflow: clip !important;
  display: inline-block !important;
  padding: 0 !important; }

/* line 1, /Users/adrianmiller/Development/thin/sass/base/_resets.scss */
* {
  box-sizing: border-box;
  margin-top: 0; }
  /* line 5, /Users/adrianmiller/Development/thin/sass/base/_resets.scss */
  *:not(.collapse) + * {
    margin-top: 1rem; }

/* line 11, /Users/adrianmiller/Development/thin/sass/base/_resets.scss */
legend {
  padding: 0;
  display: table; }

/* line 15, /Users/adrianmiller/Development/thin/sass/base/_resets.scss */
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0; }

/* line 21, /Users/adrianmiller/Development/thin/sass/base/_resets.scss */
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

/* Reset `button` and button-style `input` default styles */
/* line 28, /Users/adrianmiller/Development/thin/sass/base/_resets.scss */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

/* line 45, /Users/adrianmiller/Development/thin/sass/base/_resets.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
/* line 52, /Users/adrianmiller/Development/thin/sass/base/_resets.scss */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

/* line 3, /Users/adrianmiller/Development/thin/sass/base/_helpers.scss */
.fill--h {
  width: 100%; }

/* line 7, /Users/adrianmiller/Development/thin/sass/base/_helpers.scss */
.fill--v {
  height: 100%; }

/* line 14, /Users/adrianmiller/Development/thin/sass/base/_helpers.scss */
.scroll--h {
  overflow-x: auto; }

/* line 18, /Users/adrianmiller/Development/thin/sass/base/_helpers.scss */
.scroll--v {
  overflow-y: auto; }

/* line 24, /Users/adrianmiller/Development/thin/sass/base/_helpers.scss */
.origin {
  position: relative; }

/* line 2, /Users/adrianmiller/Development/thin/sass/base/_unstyle.scss */
ul.unstyle,
ol.unstyle {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  list-style: none; }

/* line 1, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
.align-, .align--center, .align--left, .align--left-bottom, .align--left-center, .align--left-top, .align--right, .align--center-bottom, .align--center-center, .align--center-top, .align--right-bottom, .align--right-center, .align--right-top {
  position: absolute; }
  /* line 4, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
  .align--center {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    /* line 9, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--center-bottom {
      bottom: 0; }
    /* line 14, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--center-center {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    /* line 20, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--center-top {
      top: 0; }
  /* line 26, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
  .align--left, .align--left-bottom, .align--left-center, .align--left-top {
    left: 0; }
    /* line 30, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--left-bottom {
      bottom: 0; }
    /* line 35, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--left-center {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    /* line 41, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--left-top {
      top: 0; }
  /* line 47, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
  .align--right, .align--center-bottom, .align--center-center, .align--center-top, .align--right-bottom, .align--right-center, .align--right-top {
    right: 0; }
    /* line 51, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--right-bottom {
      bottom: 0; }
    /* line 56, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--right-center {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    /* line 62, /Users/adrianmiller/Development/thin/sass/components/_aligns.scss */
    .align--right-top {
      top: 0; }

/* line 1, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
.flex, .flex--grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  /* line 4, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
  .flex > *, .flex--grid > * {
    margin-top: 0 !important; }
  /* line 8, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
  .flex > .flex-fill, .flex--grid > .flex-fill {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  /* line 12, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
  .flex > .flex-end, .flex--grid > .flex-end {
    margin-left: auto; }
  /* line 16, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
  .flex > .flex-center, .flex--grid > .flex-center {
    margin-left: auto;
    margin-right: auto; }
  /* line 21, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
  .flex--grid {
    margin-left: -1rem; }
    /* line 25, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
    .flex--grid > * {
      padding-left: 1rem; }
  /* line 30, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
  .flex--column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 34, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
    .flex--column.reverse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      /* line 37, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
      .flex--column.reverse > *:first-child {
        margin-top: 1rem; }
      /* line 41, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
      .flex--column.reverse > *:last-child {
        margin-top: 0; }
    /* line 46, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
    .flex--column > .flex-center {
      margin-bottom: auto;
      margin-top: auto; }
    /* line 51, /Users/adrianmiller/Development/thin/sass/components/_grids.scss */
    .flex--column > .flex-bottom {
      margin-top: auto; }

/* line 1, /Users/adrianmiller/Development/thin/sass/components/_popovers.scss */
.popover {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 9999rem rgba(0, 0, 0, 0.6);
  color: white;
  left: 50%;
  margin-top: 0;
  max-width: 30rem;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4; }

/* line 2, /Users/adrianmiller/Development/thin/sass/components/_segues.scss */
.segue {
  background: white;
  bottom: 0;
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  z-index: 5; }
  /* line 14, /Users/adrianmiller/Development/thin/sass/components/_segues.scss */
  .segue.is-open {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%); }

/* line 1, /Users/adrianmiller/Development/thin/sass/components/_trays.scss */
.tray-, .tray--bottom, .tray--left, .tray--right, .tray--top {
  position: fixed;
  z-index: 3; }
  /* line 5, /Users/adrianmiller/Development/thin/sass/components/_trays.scss */
  .tray--bottom {
    bottom: 0;
    left: 0;
    right: 0; }
  /* line 12, /Users/adrianmiller/Development/thin/sass/components/_trays.scss */
  .tray--left {
    bottom: 0;
    left: 0;
    top: 0; }
  /* line 19, /Users/adrianmiller/Development/thin/sass/components/_trays.scss */
  .tray--right {
    bottom: 0;
    right: 0;
    top: 0; }
  /* line 26, /Users/adrianmiller/Development/thin/sass/components/_trays.scss */
  .tray--top {
    left: 0;
    right: 0;
    top: 0; }
