body {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif; }

.module {
  background-color: gray;
  padding: 1rem; }

input,
fieldset {
  color: black; }

h1 {
  color: #191919;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.05); }
