@import 'functions/set';
@import 'functions/get';

@mixin _rsts {
  :root {
    font-size: 87.5%;
    font-family: 'Helvetica', sans-serif;
  }

  @include set(noselect) {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }

  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
  }

  * {
    margin-top: 0;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    line-height: 1.05em;
  }

  p {
    margin-bottom: 0;
    line-height: 1.5rem
  }

  button,
  [type="submit"] {
    border: 0;
    background: transparent;
    padding: 0;
    outline: none;
  }

  input:focus {
  	outline:0;
  }

  /* Box Sizing Reset
  -----------------------------------------------*/

  /* These elements are usually rendered a certain way by the browser */
  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  }

  /* Text Inputs
  -----------------------------------------------*/

  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week] {
    padding: .4em .25em;
    width: 100%;
  }

  input[type=search] {
  	-webkit-appearance:textfield;
  	-webkit-box-sizing:content-box;
  }

  ::-webkit-search-decoration {
  	display:none;
  }

  textarea {
  	vertical-align:top;
  	overflow:auto;
  }

  select[multiple] {
  	/* Move the label to the top */
  	vertical-align:top;
  }
}
