
@import 'functions/set';
@import 'functions/get';

@mixin _add {
    .add {
        &- {
            &-scrollbar {
                scrollbar-width: auto; /* Firefox */
                -ms-overflow-style: auto;  /* IE 10 */
        
                ::-webkit-scrollbar {
                    width: 1rem;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    box-shadow: 0;
                    border-radius: 0;
                    background: transparent;    
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 1rem;
                    border-radius: .5rem;
                    background: #cccccc; 
                }

                ::-webkit-scrollbar-thumb:window-inactive {
                    background: auto; 
                }
            }
        }
    }
}
