@import 'vars';

@mixin _rws {
  .rws- {
    @each $key, $size in $sizes {
      &-#{$key} {
        margin-top: -#{$size};

        > * {
          padding-top: $size;
        }
      }
    }

    &-collapse + * {
      padding-top: 0;
    }
  }
}
