@import 'functions/type-scale';

@mixin _typ ($base: 1rem, $r: 2, $n: 5, $o: 3) {
  $notes: (a, b, c, d, e, f, g);

  @for $octave from 0 through $o {
    @for $note from 1 through $n {
      $i: nth($notes, $note);
      .typ--#{$i}#{$octave} {
        font-size: scaleType($base, (($octave - 1) * $n + $note - 1), $r, $n);
      }
    }
  }

  .typ--center {
    text-align: center
  }

  .typ--left {
    text-align: left
  }

  .typ--right {
    text-align: right
  }
}